body {
	background-color: powderblue;
}

h1 {
	text-align: center;
	font-family: Arial;
	font-size: 75px;
	color: red;
}

h2 {
	text-align: top-right;
	font-family: monospace;
	font-size: 35px;
	margin: 0px 0px 0px 200px;
}

.Mr0Faziroslika1 {
	padding: 0px 0px 0px 670px;
}